<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-0">
        <p>
          {{ site.description | escape }}
        </p>

        <p>
          <a href="http://waffle.io/{{site.github_username}}/{{site.github_projectname}}">
              <img src="https://badge.waffle.io/{{site.github_username}}/{{site.github_projectname}}.svg?label=ready&amp;title=Por%20escribir" alt="Por escribir">
            </a>
            <a href="http://waffle.io/{{site.github_username}}/{{site.github_projectname}}">
              <img src="https://badge.waffle.io/{{site.github_username}}/{{site.github_projectname}}.svg?label=in%20progress&amp;title=Escribiendo" alt="Escribiendo">
          </a>
        </p>


        <ul class="social-media-list">
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>

          <li>
            {% include icon-github.html username=site.github_username %}
          </li>

          <li>
            {% include email.html %}
          </li>
        </ul>

        <p class="rss-subscribe">Suscribirse <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>
    </div>
  </div>
</footer>
