---
layout: default
---
<article class="page">
  <header class="post__header">
    <h2 class="post__title">{{ page.title }}</h2>
    <address class="post__author">
      Escrito por {{ page.author }}, el <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{% include translated_date.html date=page.date %}</time>
    </address>
  </header>
  <section class="post__content">
    {{ content }}
  </section>
  <footer class="post__footer">
    {% if page.references %}
      <section class="post__references">
        <hr>
        <h2>Referencias:</h2>
        <ul>
          {% for reference in page.references%}
            <li>"{{reference.title}}", <a href="{{ reference.link }}">{{ reference.source }}</a>, <time datetime="{{ reference.date }}">{{ reference.date }}</time></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
      <section class="post__comments">
        ¿Tienes algún comentario, o sugerencia? ¿Encontraste algún problema en el articulo? No dudes en reportarlo <a href="https://github.com/{{ site.github_username }}/{{ site.github_projectname }}/issues/new?title={{ page.title | uri_escape }}body={{ "Escribe aquí tu pregunta, comentario o issue...". | uri_escape }}&labels[]=question">haciendo click aquí </a>
      </section>
  </footer>
</article>
